* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    background-color: $color-white;
    color: $color-dark-text;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

body.lock-scroll {
    overflow: hidden;
}