.hero-bg,
.promo-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// АНИМАЦИЯ ДЛЯ БЕГУЩ. СТРОКИ
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-25%); }
}