.hero-bg,
.promo-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-bg {
    background-image: linear-gradient(rgba(10, 30, 60, 0.5), rgba(10, 30, 60, 0.5)), url(/assets/img/hero-bg.png);
}

.promo-bg {
    background-image: linear-gradient(rgba(10, 30, 60, 0.5), rgba(10, 30, 60, 0.5)), url(https://unsplash.it/1920/1080?image=20);
}

// АНИМАЦИЯ ДЛЯ БЕГУЩ. СТРОКИ
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-25%); }
}