$color-primary-red: #F01B0D;
$color-dark: #000000;
$color-dark-blue: #0A1E3C;
$color-dark-grey: #3F3F3F;
$color-white: #FFFFFF;
$color-text-grey: #828282;
$color-dark-text: #2c2d2e;
$font-main: 'Roboto Flex', sans-serif;